<div class="card" id="addNew" style="display: none;">
  <div class="card-body" >
    <form [formGroup]="blogForm" (ngSubmit)="onSubmit()" novalidate>
      <h4 class="container font-weight-bold text-center" id="addNewBlog">ADD New Blog</h4>
      <h4 class="container font-weight-bold text-center" id="updateBlog">UPDATE Blog</h4>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 mb-3">
              <label for="blogTitle">Blog Title</label>
              <input id="blogTitle" type="text" formControlName="blogTitle" class="form-control" maxlength="45" placeholder="Blog Title" required >
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 mb-3">
              <label for="blogContent">Blog Content</label>
              <textarea id="blogContent" name="w3review" rows="3" cols="80" formControlName="blogContent" maxlength="55" class="form-control" placeholder="Blog Content" required >
                </textarea>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-9 mb-3">
              <input type="text" id="Blog_Content" class="form-control mt-4" value="Blog Media" readonly>
              <input hidden type="file" #BlogContentUploader class="form-control" readonly (change)="uploadImage($event)" accept="image/*">
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 mt-3 mb-3">
              <button mdbBtn type="button" id="uploadButton" class="btn btn-outline-info ml-n1" outline="true" size="sm" (click)="BlogContentUploader.click();" mdbWavesEffect>
                <i class="fa fa-upload mr-2"></i> Upload   
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 ">
              <div class="float-left" *ngIf="imageUrl.length>0">
                <label class="float-left" class="training-img" for="adImgInput"> <img [src]="imageUrl" class="img-responsive float-left" style="height: 25vh;width: 100%;"> </label>
                <input hidden type="file" id="adImgInput" accept="image/*" readonly>
                <br> 
              </div>
              <div class="spinner-border" role="status" *ngIf="loading">
                <span class="sr-only" id="loadbar"></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row buttons" >
        <div class="col my-buttons" >
          <button type="submit" class="btn btn-primary" id="post" [disabled]="!blogForm.valid">Create</button>
          <button type="button" class="btn btn-primary" id="update" (click)="updateBlogData()" [disabled]="!blogForm.valid">Update</button>
          <button type="reset" class="btn btn-danger" (click)="cancel()">Cancel</button>
        </div>
      </div>
    
    </form>
  </div>
</div>

<div class="row m-3 ml-5 mr-5">
  <div class="col-mb-5 w-100">
    <div id="skillData">
      <button type="button" class="float-right btn btn-primary mb-3" id="newProductSubCatBtn" (click)="openNewAddBlog()"><i class="fa fa-plus"></i> ADD Blog </button>
      <div class="table-responsive" *ngIf="blogData.length >0">
        <table class="table table-striped table-condensed">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Blog Title</th>
              <th scope="col">Blog Media</th>
              <th scope="col">Blog Content</th>
              <th scope="col">Created Date</th>
              <th scope="col">Edit</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of blogData">
              <td scope="col">{{item.blogId}}</td>
              <td scope="col" data-toggle="tooltip" data-placement="right" title="{{item.title}}">{{item.title.slice(0,20)}}<small *ngIf="item.title.length>20">..</small></td>
              <td *ngIf="item.imageURL !=null && item.imageURL.length>0"><img src="{{item.imageURL}}" alt="" height="75" width="100" /></td><td *ngIf="item.imageURL ==null || item.imageURL.length == 0">N/A</td>
              <td scope="col" data-toggle="tooltip" data-placement="right" title="{{item.blogContent}}">{{item.blogContent.slice(0,20)}}<small *ngIf="item.blogContent.length>20">..</small></td>
              <td scope="col">{{item.creationDate.seconds*1000 | date}}</td>
              <td><i class="fa fa-edit text-primary" (click)="editBlog(item)" style="cursor: pointer;"></i></td>
              <td><i class="fa fa-trash text-primary" (click)="deleteBlog(item)" style="cursor: pointer;"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
